@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #03080d;
}

html {
  scroll-behavior: smooth;
}
@keyframes rotateInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px) rotate(-360deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}



@layer base {
  .title {
    @apply max-w-sm mx-auto text-4xl font-bold md:max-w-lg md:text-5xl;
  }
  .section {
    @apply py-20 text-center;
  }
  .gradient-btn {
    @apply px-4 py-2 font-bold text-white transition-transform duration-300 rounded-lg bg-gradient-to-r from-blue-500 to-purple-500 hover:scale-105;
  }
}
